$desktop: "min-width: 1366px";
$laptop: "max-width: 1366px";
$laptopL: "max-width: 1248px";
$tablet: "max-width: 1024px";
$mobileL: "max-width: 768px";
$mobileM: "max-width: 640px";
$mobileS: "max-width: 425px";
$mobileXS: "max-width: 320px";
